.broadcast-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #111;
    color: white;
    padding-top: 70px;
}

.main-section {
    flex: 1;
    display: flex;
    overflow: hidden;
}
