.sidebar {
    border-right: 1px solid #ddd;
    padding: 20px;
    width: 500px;
    position: fixed;
    top: 130px; /* 헤더 높이에 맞게 조정 */
    left: 0;
    height: calc(100% - 100px);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 버튼 간격 */
}

.sidebar-btn {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.sidebar-btn:hover {
    background-color: #ddd;
}
